* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 999;        /* z-index ensures the nav stays on top of the web-page*/   
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header.scrolled {
    background-color: #333;
  }
  
  .logo {
    color: rgb(252, 46, 19);
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  nav ul li a:hover {
    background-color: white;
    color: #333;
    border-radius: 5px;
  }
  
  section {
    padding: 100px 40px;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #0f2027, #203a43, #2c5364);
    color: white;
  }
  
  p1 
  {
    font-size: 1rem;
    color: white;
    font-style: italic;
  }
  
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
      background: #333;
      position: absolute;
      top: 70px;
      right: 40px;
      display: none;
      padding: 10px;
      border-radius: 8px;
    }
  
    nav ul.active {
      display: flex;
    }
  
    .menu-toggle {
      display: block;
      color: white;
      font-size: 24px;
      cursor: pointer;
    }
  }
  
  .menu-toggle {
    display: none;
  }
  